<div class="wrap">
    <section class="top" id="top-header">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 shipping-text"> Free Shipping on Orders <i class="fa fa-rupee"></i> 5000
                    and Above </div>
                <div class="col-xs-12 col-sm-6 links">
                    <a href="#contact" class="right-links">Contact Us</a> <span ng-hide="userlogged"><a href="#/login"
                            class="right-links">Login </a> <a href="#/registration"> Signup</a></span><span
                        class="login-btn" ng-show="userlogged">{{loggedInUserName}}</span>
                    <!--=== LOGOUT SECTION ===-->
                    <div class="myprofile-block">
                        <div class="mypro-brdr">
                            <div class="pro-top">
                                <!--<a href="#" class="pro-pic">
                               <img src="img/tst-pic.jpg"/>
                               <span>Change</span>
                               </a>-->
                                <div class="pro-txt">
                                    <h3>{{loggedInUserName}}</h3>
                                    <h4>{{loggedInUser}}</h4>
                                </div>
                            </div>
                            <div class="pro-btm">
                                <span class="mypro-btn" ng-click="myProfile()"><a>My profile</a></span>
                                <span class="mypro-logout" ng-click="logout()"><a>Log Out</a></span>
                            </div>
                        </div>
                    </div>
                    <a href="#cart" class="cart">
                        <!--<i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i> -->
                        <img src="img/cart1.png">
                        <span class="cart-value">{{lengthofcart}}</span>
                    </a>
                </div>
            </div>
        </div>

    </section>
    <header class="header">
        <header-Directive></header-Directive>
        <category-Directive></category-Directive>
    </header>
    <div class="container">
        <section class="contact-address">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12  ">
                        <h2 class="sec-title"><strong>About Us</strong></h2>
                        <div class="address-area">
                            <p>OneSevenHome, a Hyderabad based E-Com company, is the one stop solution to all your
                                construction related needs. With more than a decade of experience down the line, we work
                                in the direction to provide the best of our services. We ensure to get the curated
                                service providers at your doorstep for various services ranging from plumbing, flooring,
                                ceiling, glass fitting and many more handyman jobs. We aid you in setting up your own
                                dazzling structure. We have got your back to assist you in choosing the right style that
                                fits your requirement.
                            </p>
                            <p>Our website is optimized in making everything available at your disposal, so you don’t
                                have to be troubled at all. From raw material to readymade infrastructure, we have
                                everything available at reasonable prices. Our website is the common platform for the
                                entrepreneurs as well as professions to dedicate their services to the customers.
                                Whether you want to sell the products online or buy them online - no worries, we pay
                                attention to your every need and provide you with a safe and secure shopping experience.
                            </p>
                            <p>
                                Customer satisfaction is of utmost importance to us. So, we aim to offer uninterrupted
                                services in a transparent manner for our customers. From home to buildings, wherever be
                                your service needs, we provide flexible services at your convenience.
                            </p>
                            <p>
                                What makes us unique is our large service provider base that follows on-time service
                                offerings with a service guarantee. Every week thousands of customers meet their related
                                requirements by finding the most suitable professional through our platform.
                            </p>
                            <p>If you are looking for any of your home-related pesky chores, you are at the right place.
                                OneSevenHome is your destination for all your related wishes to be fulfilled. So what
                                are you waiting for? Hire a professional today! Start selling or buying products and we
                                stand with you in making your home a blissful place.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div id="back-top">
            <a href="javascript:" id="return-to-top"><i class="fa fa-arrow-circle-o-up"></i></a>
        </div>
    </div>
</div>
<script>
    $(".mobile-search .fa-search").click(function () {
        $(".mobile-search input").toggle();
    });
</script>