<div class="wrap">
   <section class="top" id="top-header">
      <div class="container">
         <div class="row">
            <div class="col-xs-12 col-sm-6 shipping-text"> Free Shipping on Orders <i class="fa fa-rupee"></i> 5000 and
               Above </div>
            <div class="col-xs-12 col-sm-6 links">
               <a href="#contact" class="right-links">Contact Us</a> <span ng-hide="userlogged"><a href="#/login"
                     class="right-links">Login </a> <a href="#/registration"> Signup</a></span><span class="login-btn"
                  ng-show="userlogged">{{loggedInUserName}}</span>
               <!--=== LOGOUT SECTION ===-->
               <div class="myprofile-block">
                  <div class="mypro-brdr">
                     <div class="pro-top">
                        <!--<a href="#" class="pro-pic">
                           <img src="img/tst-pic.jpg"/>
                           <span>Change</span>
                           </a>-->
                        <div class="pro-txt">
                           <h3>{{loggedInUserName}}</h3>
                           <h4>{{loggedInUser}}</h4>
                        </div>
                     </div>
                     <div class="pro-btm">
                        <span class="mypro-btn" ng-click="myProfile()"><a>My profile</a></span>
                        <span class="mypro-logout" ng-click="logout()"><a>Log Out</a></span>
                     </div>
                  </div>
               </div>
               <a href="#cart" class="cart">
                  <!--<i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i> -->
                  <img src="img/cart1.png">
                  <span class="cart-value"> {{lengthofcart}}</span>
               </a>
            </div>
         </div>
      </div>

   </section>
   <header class="header">
      <header-Directive></header-Directive>
      <category-Directive></category-Directive>
   </header>
   <div class="container">
      <section class="contact-address">
         <div class="container">
            <div class="row">
               <div class="col-xs-12  ">
                  <h2 class="sec-title"><strong>Contact Us</strong></h2>
                  <div class="address-area">
                     <aside>
                        {{contactdetails.storeAddress}} <br> 

                        {{contactdetails.storeCity}}, {{contactdetails.storeState}}, {{contactdetails.storeCountry}} - {{contactdetails.storePostalCode}}
                        <hr>
                        Phone:{{contactdetails.storePhone}}
                        <hr>
                        Email: <a href="mailto:{{contactdetails.eMail}}">{{contactdetails.emailAddress}}</a>
                     </aside>
                     <aside>
                        <a href="mailto:customersupport@onesevenhome.com">customersupport@onesevenhome.com</a><br>
                        <a href="mailto:suppliersupport@onesevenhome.com">suppliersupport@onesevenhome.com</a><br>
                        <a href="mailto:careers@onesevenhome.com">careers@onesevenhome.com</a>
                        <hr>
                        <strong>Request a callback</strong><br>
                        Directly speak to our customer support executive for any assistance.
                        <button class="button">Call Me Back</button>
                     </aside>
                  </div>

               </div>
            </div>
         </div>
      </section>
      <div id="back-top">
         <a href="javascript:" id="return-to-top"><i class="fa fa-arrow-circle-o-up"></i></a>
      </div>
   </div>
</div>
<script>
   $(".mobile-search .fa-search").click(function () {
      $(".mobile-search input").toggle();
   });
</script>