<div class="wrap">
   <!-- Static navbar -->
<section class="top" id="top-header">
     <div class="container">
         <div class="row">
            <div class="col-xs-12 col-sm-6 shipping-text"> Free Shipping on Orders <i class="fa fa-rupee"></i> 5000 and Above </div>
            <div class="col-xs-12 col-sm-6 links">
               <a href="#contact" class="right-links">Contact Us</a> <span ng-hide="userlogged"><a href="#/login" class="right-links">Login </a>  <a href="#/registration" > Signup</a></span><span class="login-btn" ng-show="userlogged">{{loggedInUserName}}</span>
               <!--=== LOGOUT SECTION ===-->
               <div class="myprofile-block">
                  <div class="mypro-brdr">
                     <div class="pro-top">
                        <!--<a href="#" class="pro-pic">
                           <img src="img/tst-pic.jpg"/>
                           <span>Change</span>
                           </a>-->
                        <div class="pro-txt">
                           <h3>{{loggedInUserName}}</h3>
                           <h4>{{loggedInUser}}</h4>
                        </div>
                     </div>
                     <div class="pro-btm">
                        <span class="mypro-btn" ng-click="myProfile()"><a>My profile</a></span>
                        <span class="mypro-logout" ng-click="logout()"><a>Log Out</a></span>
                     </div>
                  </div>
               </div>
               <a href="#cart" class="cart">
                  <!--<i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i> -->
                  <img src="img/cart1.png">
                  <span class="cart-value"> {{lengthofcart}}</span> 
               </a>
            </div>
         </div>
      </div>
	
   </section>
   <header class="header">
     <header-Directive></header-Directive>
      <category-Directive></category-Directive>
   </header>
  <div class="container">
    <section class="login title  for-rst" >
      <div class="row">
        <div class="col-xs-12  ">
		<h2 class="main-title"><strong>Set New Password</strong></h2>
		  <div class="login-inner">
			<form name="newpasswordform" class="form-horizontal">
				<fieldset ng-disabled="isDisabled">
				  <div class="form-group" ng-class="{ 'has-error' : newpasswordform.newPassword.$invalid && !newpasswordform.newPassword.$pristine }">         
					<input type="password"  name="newPassword" id="pass" class="form-control" placeholder="New Password" ng-model="setNewPass.newPassword" ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,16}$/" required>
					<p ng-show="newpasswordform.newPassword.$touched && newpasswordform.newPassword.$error.required" class="help-block">Password is required</p>
					<p class="help-block" ng-show="newpasswordform.newPassword.$error.pattern">Length should be 8 to 15 (including upper, lower & special)</p>
					<i class="fa fa-star" aria-hidden="true"></i>
				  </div>
                  <div class="form-group" ng-class="{ 'has-error' : newpasswordform.confirmPassword.$invalid && !newpasswordform.confirmPassword.$pristine }">
					<input type="password"  name="confirmPassword" ng-model="setNewPass.confirmPassword" ng-pattern="{{setNewPass.newPassword}}" id="conformPassword" class="form-control" placeholder="Confirm Password" required>
					<p ng-show="newpasswordform.confirmPassword.$touched && newpasswordform.confirmPassword.$error.required" class="help-block">Confirm Password is required</p>
					<p class="help-block" ng-show="newpasswordform.confirmPassword.$error.pattern">Password not matched</p>                       
					<i class="fa fa-star" aria-hidden="true"></i>                        
                  </div>
				  <div class="form-group btn-sign">
					<button type="submit" class="btn btn-default" ng-disabled="newpasswordform.$invalid" ng-click="newpassword(setNewPass)">Submit</button>
				  </div>
				  <div class="alert alert-warning" ng-if="errmsg"> 
					<span class="close" data-dismiss="alert" aria-label="close" ng-click="alerthide()">&times;</span>{{errmessage}}
				  </div>
				</fieldset>
			</form>
		  </div>
		  </div>
      </div>
    </section>
	<div id="back-top">
	<a href="javascript:" id="return-to-top"><i class="fa fa-arrow-circle-o-up"></i></a>
</div>
  </div>
</div>
<script>
$(".mobile-search .fa-search").click(function(){
	$(".mobile-search input").toggle();
});
</script>
